#fourth_section {
  background: linear-gradient(180deg, #FFFFFF 6.25%, #049492 40.63%, #049492 54.69%, #049492 85.94%);

  align-items: center;
  justify-content: center;
}

.form_container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.title_container {
  text-align: center;
}

.form_container form {
  display: flex;
  flex-direction: column;

  max-width: 280px;
}

.form_container form textarea {
  padding: 28px 52px;
  margin: 5px;

  border-radius: 5px;
  outline: 0;
  border:0;

  text-align: center;

  font-size: 15px;
  line-height: 16px;

  font-family: Roboto;
}

#fourth_section h1 {
  color: #fff;
  font-family: Montserrat;  
}

#fourth_section h3 {
  font-family: Roboto;
  color: var(--text-tertiary);
}

@media(min-width: 1100px) {
  .form_container form textarea {
    padding: 28px 48px;
  }
}