.title {
  color: #031b4e;
  font-family: Montserrat;
  font-weight: 300;
  text-align: left;
  font-size: 20pt;
  width: 90%;
  margin-bottom: 1%;
}

.relativeCardContainer {
  position: relative;
  width: 100%;
  margin-top: 50%;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  padding: 0 5px;
}

@media (min-width: 900px) {
  .relativeCardContainer {
    margin-top: 20%;
  }
}

@media (max-width: 900px) {
  .relativeCardContainer {
    margin-top: 30%;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 28pt;
    text-align: center;
    width: 70%;
  }
}

@media (max-width: 600px) {
  .relativeCardContainer {
    margin-top: 50%;
  }
}
