.title {
  color: #031b4e;
  font-family: Montserrat;
  text-align: left;
  font-size: 20pt;
  font-weight: 300;
  max-width: 90%;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .title {
    max-width: 80%;
    font-size: 25pt;
    text-align: center;
  }
}
