.container {
  justify-content: space-around;
  background-color: var(--primary);
}

.textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-family: Montserrat;
  text-align: left;
  font-size: 20pt;
  font-weight: 300;
  max-width: 90%;
  margin: 0;
  margin-top: 3%;
}

.sub {
  color: #fff;
  text-align: left;
  font-size: 20pt;
  font-weight: 700;
  max-width: 90%;
  margin: 0;
  margin-top: 15px;
}

.cardContainer {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .title {
    max-width: 80%;
    font-size: 25pt;
    text-align: center;
  }
}
